@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* :root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
} */
li {
  list-style: none;
}
body {
  margin: 0 auto;
  padding: 0 auto;
}
/** Header **/
.container {
  margin: 0 auto;
  width: 1440px;
}

.menu-item {
  display: flex;
  background-color: #012d63;
  align-items: center;
  padding-left: 168px;
}
.menu-link1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  color: #c7c7c7;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
}
/** Section 1 **/
.sec1-wrap {
  background-image: url(/src/image/Section1.png);
  height: 858px;
  position: relative;
}
.NikeLogo {
  width: 160px;
  height: 120px;
  position: absolute;
  left: 168px;
  top: 177px;
}
.container h1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  position: absolute;
  left: 196px;
  top: 269px;
}
.container h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 144px;
  color: #fff;
  position: absolute;
  left: 157px;
  top: 309px;
}
.container h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 72px;
  color: #fff;
  position: absolute;
  left: 165px;
  top: 465px;
}
.container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 165px;
  top: 573px;
}
.btn1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px;
  width: 264px;
  height: 67px;
  background-color: #8e32c6;
  margin-left: 164px;
  border-radius: 10px;
  margin-top: 700px;
  position: static;
}
.textbutton {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
/** Section 2 **/
.container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  width: 1110px;
  height: 396px;
  padding: 20px;
  border: 5px solid #8e32c6;
}
.line {
  width: 1px;
  height: 340px;
  background-color: gray;
}
.box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
.box img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}
.box p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #fff;
}
.sec2-wrap {
  background-image: url(/src/image/Section2.jpg);
  background-repeat: no-repeat;
  background-size: 1440px, 606px;
  width: 1440px;
  height: 606px;
  position: relative;
}
/** Section 3 **/
.sec-wrap3 {
  background-image: url(/src/image/Section3.png);
  background-repeat: no-repeat;
  background-size: 1440px, 520px;
  width: 1440px;
  height: 520px;
}
.img-sec4 {
  background: url("/src/image/Flowers.png");
  background-repeat: no-repeat;
  position: relative;
  position: absolute;
  left: 395px;
  top: 1664px;
  width: 340px;
  height: 380px;
}
.reviews {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.container4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  width: 951px;
  height: 292px;
  padding: 20px;
}
.box2 {
  border-radius: 15px;
  width: 255px;
  height: 292px;
  box-shadow: 0px 4px 6px #533978, 0 14px 0 -5px #7b54b2;
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}
.box3 {
  border-radius: 15px;
  width: 255px;
  height: 292px;
  box-shadow: 0px 4px 6px #61337c, 0 14px 0 -5px #9159b1;
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}
.box4 {
  border-radius: 15px;
  width: 255px;
  height: 292px;
  box-shadow: 0px 4px 6px #732f26, 0 14px 0 -5px #b95a4c;
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
}
.box2 h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding-left: 13px;
  padding-top: 49px;
}
.box2 h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  margin-top: 8px;
  padding-left: 13px;
}
.box2 h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 1930px;
  padding-left: 49px;
}
.box2 h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  position: absolute;
  top: 1945px;
  padding-left: 49px;
}
.box2 img {
  border-radius: 100%;
  margin-top: 47px;
  padding-left: 13px;
}
.box3 h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding-left: 13px;
  padding-top: 49px;
}
.box3 h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  margin-top: 8px;
  padding-left: 13px;
}
.box3 h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 1930px;
  padding-left: 49px;
}
.box3 h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  position: absolute;
  top: 1945px;
  padding-left: 49px;
}
.box3 img {
  border-radius: 100%;
  margin-top: 47px;
  padding-left: 13px;
}
.box4 h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  padding-left: 13px;
  padding-top: 49px;
}
.box4 h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  margin-top: 8px;
  padding-left: 13px;
}
.box4 h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 1930px;
  padding-left: 49px;
}
.box4 h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #d8d8d8;
  position: absolute;
  top: 1945px;
  padding-left: 49px;
}
.box4 img {
  border-radius: 100%;
  margin-top: 47px;
  padding-left: 13px;
}
/* Section 4 */
.sec-wrap4 {
  background-image: url(/src/image/Section4.png);
  background-repeat: no-repeat;
  background-size: 1440px, 520px;
  width: 1440px;
  height: 509px;
}
.order-container {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 600px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.email-group {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 555px;
}

.email-group input {
  border-radius: 0;
  flex: 1;
  border: none;
  padding: 12px;
}

.email-group button {
  border: none;
  background: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  color: #005687;
}

.order-btn {
  background: linear-gradient(to right, #a000c0, #ff00ff);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  width: 248px;
  height: 55px;
}

.order-btn:hover {
  opacity: 0.8;
}
/* Footer */
/* .footer {
  background-image: url(/src/image/Footer.png);
  background-repeat: no-repeat;
  background-size: 1440px, 520px;
  width: 1440px;
  height: 520px;
} */

footer {
  background: #00102a;
  color: white;
  padding: 20px 40px;
  width: 1440px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  width: 50%;
}

.footer-left p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.footer-left.p2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer-left.p3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer-right p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-decoration-skip-ink: none;
  color: #fff;
}

.footer-left hr {
  width: 200%;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

.footer-right {
  text-align: right;
}

.footer-right a {
  color: white;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo img {
  width: 50px;
  width: 108px;
  height: 81px;
  margin-left: 400px;
  margin-top: -20px;
}

.logo p {
  margin-top: -20px;
  margin-left: 420px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
